// Заголовки, общие БЄМ блоки и проче...
* {
    line-height: 150%;
}
.gradient-text {
    color: transparent;
    background-clip: text;
    background: linear-gradient(114.23deg, #A088FB 0%, #B8A6FB 100%);
    
    -webkit-background-clip: text;
    background-clip: text;
}

.button {
    display: inline-block;
    padding: rem(22) rem(32) rem(18);
    border-radius: 16px;
    background: var(--Gradient, linear-gradient(95deg, #8060F6 0.23%, #A088FB 100.23%));
    font-size: rem(20);
    text-align: center;
    color: var(--white-color);
    font-weight: 900;
    line-height: 100%;
    transition: all 0.2s ease-in-out  0s;
    cursor: pointer;
    // font-feature-settings: 'clig' off, 'liga' off;
}

h2 {
        font-size: rem(56);
        font-weight: 600;
        margin-bottom: rem(80);
        text-align: center;
        color: #292758;
        span {
            color: #8060F6;
        }
        @media(max-width:1315px){
            font-size: rem(40);
            margin-bottom: rem(64);
        }
        @media(max-width:550px){
            font-size: rem(35);
            margin-bottom: rem(40);
        }
        @media(max-width:470px){
            font-size: rem(32);
        }
}
h3 {
    font-size: rem(32);
    font-weight: 600;
    text-transform: uppercase;
    @media(max-width:1595px){
        font-size: rem(24);
    }
}